---
layout: default
title: People
---
<h1>EUDOXYS&trade; {{ page.title }}</h1>

<table>
  {% for post in site.posts %}
    {% if page.title == post.category %}
    <hr/>
    <div style="overflow:hidden">
      <div style="float:left">
        <br/><img src="{{ post.image }}" width="128" />
      </div>
      <div style="float:right">
        <h2><a href="{{ post.url }}"><nobr>{{ post.title }}</nobr></a></h2>
        {{ post.excerpt }}
        {{ post.date | date: "(Posted %B %e, %Y)" }}
      </div>
    </div>
    {% endif %}
  {% endfor %}
</table>
